{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-captcha" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">

		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
		{% endif %}

		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
			<div class="card-body">

				<form id="form-captcha" action="{{ save }}" method="post" data-oc-toggle="ajax">

					<div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_signup }}</div>

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-security" data-bs-toggle="tab" class="nav-link">{{ tab_security }}</a></li>
						<li class="nav-item"><a href="#tab-error-log" data-bs-toggle="tab" class="nav-link">{{ tab_error_log }}</a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="captcha_ps_google_recaptcha_status" value="0" />
										<input type="checkbox" name="captcha_ps_google_recaptcha_status" value="1" id="input-status" class="form-check-input" {% if captcha_ps_google_recaptcha_status %} checked{% endif %} />
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-key-type" class="col-sm-2 col-form-label">{{ entry_key_type }}</label>
								<div class="col-sm-10">
									<select name="captcha_ps_google_recaptcha_key_type" id="input-key-type" class="form-select">
										{% for key_type, name in recaptcha_key_types %}
										<option value="{{ key_type }}" {% if captcha_ps_google_recaptcha_key_type==key_type %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
									<div class="form-text">{{ help_key_type }}</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-site-key" class="col-sm-2 col-form-label">{{ entry_site_key }}</label>
								<div class="col-sm-10">
									<input type="text" name="captcha_ps_google_recaptcha_site_key" value="{{ captcha_ps_google_recaptcha_site_key }}" placeholder="{{ entry_site_key }}" id="input-site-key" class="form-control" />
									<div id="error-input-site-key" class="invalid-feedback"></div>
									<div class="form-text">{{ help_site_key }}</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-secret-key" class="col-sm-2 col-form-label">{{ entry_secret_key }}</label>
								<div class="col-sm-10">
									<input type="text" name="captcha_ps_google_recaptcha_secret_key" value="{{ captcha_ps_google_recaptcha_secret_key }}" placeholder="{{ entry_secret_key }}" id="input-secret-key" class="form-control" />
									<div id="error-input-secret-key" class="invalid-feedback"></div>
									<div class="form-text">{{ help_secret_key }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-send-client-ip" class="col-sm-2 col-form-label">{{ entry_send_client_ip }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="captcha_ps_google_recaptcha_send_client_ip" value="0" />
										<input type="checkbox" name="captcha_ps_google_recaptcha_send_client_ip" value="1" id="input-send-client-ip" class="form-check-input" {% if captcha_ps_google_recaptcha_send_client_ip %} checked{% endif %} />
									</div>
								</div>
							</div>

							<fieldset id="v3-score-threshold" class="p-3 mb-3" {% if captcha_ps_google_recaptcha_key_type !='v3' %} style="display: none;" {% endif %}>
								<legend>{{ heading_v3_score_threshold }}</legend>
								<div class="form-control" style="height: 308px; overflow: hidden; overflow-y: auto;">
									{% for captcha_page in captcha_pages %}
									<div class="row mb-3 required">
										<label for="input-v3-score-threshold-{{ captcha_page.value }}" class="col-sm-2 col-form-label">{{ captcha_page.text }}</label>
										<div class="col-sm-10">
											<div class="input-group">
												<input type="number" step="0.1" min="0" max="1" name="captcha_ps_google_recaptcha_v3_score_threshold[{{ captcha_page.value }}]" value="{{ captcha_ps_google_recaptcha_v3_score_threshold[captcha_page.value] | default('0.5') }}" placeholder="{{ captcha_page.text }}" id="input-v3-score-threshold-{{ captcha_page.value }}" class="form-control" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-info btn-reset" data-bs-toggle="tooltip" data-input-id="input-v3-score-threshold-{{ captcha_page.value }}" title="{{ help_reset }}"><i class="fa-solid fa-sync"></i></button>
												</span>
											</div>
											<div id="error-input-v3-score-threshold-{{ captcha_page.value }}" class="invalid-feedback"></div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="form-text">{{ help_v3_score_threshold }}</div>
							</fieldset>

							<div id="badge-positions" class="row mb-3" {% if captcha_ps_google_recaptcha_key_type=='v2_checkbox' %} style="display: none;" {% endif %}>
								<label for="input-badge-position" class="col-sm-2 col-form-label">{{ entry_badge_position }}</label>
								<div class="col-sm-10">
									<select name="captcha_ps_google_recaptcha_badge_position" id="input-badge-position" class="form-select">
										{% for value, name in badge_positions %}
										<option value="{{ value }}" {% if captcha_ps_google_recaptcha_badge_position==value %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
									<div class="form-text">{{ help_badge_position }}</div>
								</div>
							</div>

							<div id="badge-themes" class="row mb-3" {% if (captcha_ps_google_recaptcha_key_type=='v3' and captcha_ps_google_recaptcha_badge_position !='inline' ) or (captcha_ps_google_recaptcha_key_type=='v2_invisible' and captcha_ps_google_recaptcha_badge_position !='inline' ) %} style="display: none;" {% endif %}>
								<label for="input-badge-theme" class="col-sm-2 col-form-label">{{ entry_badge_theme }}</label>
								<div class="col-sm-10">
									<select name="captcha_ps_google_recaptcha_badge_theme" id="input-badge-theme" class="form-select">
										{% for value, name in badge_themes %}
										<option value="{{ value }}" {% if captcha_ps_google_recaptcha_badge_theme==value %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
									<div class="form-text">{{ help_badge_theme }}</div>
								</div>
							</div>

							<div id="badge-sizes" class="row mb-3" {% if captcha_ps_google_recaptcha_key_type=='v3' %} style="display: none;" {% endif %}>
								<label for="input-badge-size" class="col-sm-2 col-form-label">{{ entry_badge_size }}</label>
								<div class="col-sm-10">
									<select name="captcha_ps_google_recaptcha_badge_size" id="input-badge-size" class="form-select">
										{% for badge_size in badge_sizes %}
										<option value="{{ badge_size.value }}" data-value="{{ badge_size.value }}" {% if badge_size.disabled %} disabled{% endif %}{% if captcha_ps_google_recaptcha_badge_size==badge_size.value %} selected{% endif %}>{{ badge_size.name }}</option>
										{% endfor %}
									</select>
									<div class="form-text">{{ help_badge_size }}</div>
								</div>
							</div>

							<div id="hide-badge" class="row mb-3" {% if captcha_ps_google_recaptcha_key_type !='v3' and captcha_ps_google_recaptcha_key_type !='v2_invisible' %} style="display: none;" {% endif %}>
								<label for="input-hide-badge" class="col-sm-2 col-form-label">{{ entry_hide_badge }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="captcha_ps_google_recaptcha_hide_badge" value="0" />
										<input type="checkbox" name="captcha_ps_google_recaptcha_hide_badge" value="1" id="input-hide-badge" class="form-check-input" {% if captcha_ps_google_recaptcha_hide_badge %} checked{% endif %} />
									</div>
									<div class="form-text">{{ help_hide_badge }}</div>
								</div>
							</div>

						</div>
						<div id="tab-security" class="tab-pane">

							<div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_csp_info }}</div>

							<div class="row mb-3">
								<label for="input-script-nonce" class="col-sm-2 col-form-label">{{ entry_script_nonce }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="captcha_ps_google_recaptcha_script_nonce" value="{{ captcha_ps_google_recaptcha_script_nonce }}" placeholder="{{ entry_script_nonce }}" id="input-script-nonce" class="form-control" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-script-nonce" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
										</span>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-google-captcha-nonce" class="col-sm-2 col-form-label">{{ entry_google_captcha_nonce }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="captcha_ps_google_recaptcha_google_captcha_nonce" value="{{ captcha_ps_google_recaptcha_google_captcha_nonce }}" placeholder="{{ entry_google_captcha_nonce }}" id="input-google-captcha-nonce" class="form-control" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-google-captcha-nonce" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
										</span>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-css-nonce" class="col-sm-2 col-form-label">{{ entry_css_nonce }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="captcha_ps_google_recaptcha_css_nonce" value="{{ captcha_ps_google_recaptcha_css_nonce }}" placeholder="{{ entry_css_nonce }}" id="input-css-nonce" class="form-control" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-css-nonce" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
										</span>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-error-log" class="tab-pane">

							<div class="row mb-3">
								<label for="input-error-log-status" class="col-sm-2 col-form-label">{{ entry_enable_error_log }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="captcha_ps_google_recaptcha_error_log_status" value="0" />
										<input type="checkbox" name="captcha_ps_google_recaptcha_error_log_status" value="1" id="input-error-log-status" class="form-check-input" {% if captcha_ps_google_recaptcha_error_log_status %} checked{% endif %} />
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-log-filename" class="col-sm-2 col-form-label">{{ entry_log_filename }}</label>
								<div class="col-sm-10">
									<input type="text" name="captcha_ps_google_recaptcha_log_filename" value="{{ captcha_ps_google_recaptcha_log_filename }}" placeholder="{{ entry_log_filename }}" id="input-log-filename" class="form-control" />
									<div id="error-input-log-filename" class="invalid-feedback"></div>
									<div class="form-text">{{ help_log_filename }}</div>
								</div>
							</div>

							<textarea name="log" wrap="off" rows="15" id="input-error-log" class="form-control" readonly>{{ error_log_output }}</textarea>
              <br/>
              <div class="row row-cols-2">
                <div class="col">
                  <a href="{{ error_log_download }}" class="btn btn-primary w-100"><i class="fa-solid fa-download"></i> {{ button_download }}</a>
                </div>
                <div class="col">
                  <button type="button" value="{{ error_log_clear }}" data-input-id="input-error-log" class="btn btn-danger w-100 btn-clear-error-log"><i class="fa-solid fa-eraser"></i> {{ button_clear }}</button>
                </div>
              </div>

						</div>
						<div id="tab-support" class="tab-pane">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

						</div>

					</div>

				</form>

			</div>
		</div>
	</div>
</div>
<script>
	$('.btn-clear-error-log').on('click', function () {
		var element = this;

		if (confirm('{{ text_confirm }}')) {
			$.ajax({
				url: $(element).attr('value'),
				dataType: 'json',
				beforeSend: function () {
					$(element).button('loading');
				},
				complete: function () {
					$(element).button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['success']) {
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

						$('#' + $(element).attr('data-input-id')).val('');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	});

	$('.btn-reset').on('click', function () {
		$("#" + $(this).data('inputId')).val('0.5');
	});

	$('.btn-copy').on('click', function () {
		var copyText = $("#" + $(this).data('inputId'));

		if (copyText.length) {
			copyText.select();
			copyText[0].setSelectionRange(0, 99999);
			document.execCommand("copy");
		}
	});

	$('#input-key-type').on('change', function () {
		var selectedValue = $(this).val();

		$('#badge-themes').hide();
		$('#badge-positions').hide();
		$('#badge-sizes').hide();
		$('#hide-badge').hide();
		$('#v3-score-threshold').hide();

		$('#input-badge-position').prop('selectedIndex', 0);
		$('#input-badge-theme').prop('selectedIndex', 0);
		$('#input-badge-size option').prop('disabled', true).prop('selected', false);
		$('#input-hide-badge').prop('checked', false);

		if (selectedValue === 'v3') {
			$('#v3-score-threshold').show();
		}

		if (selectedValue === 'v3' || selectedValue === 'v2_invisible') {
			$('#hide-badge').show();
		}

		if (selectedValue === 'v2_checkbox') {
			$('#badge-themes').show();
		} else {
			$('#badge-positions').show();
		}

		if (selectedValue === 'v2_checkbox') {
			$('#input-badge-size option[data-value="normal"]').prop('disabled', false).prop('selected', true);
			$('#input-badge-size option[data-value="compact"]').prop('disabled', false).prop('selected', false);
			$('#badge-sizes').show();
		}

		if (selectedValue === 'v2_invisible') {
			$('#input-badge-size option[data-value="invisible"]').prop('disabled', false).prop('selected', true);
			$('#badge-sizes').show();
		}
	});

	$('#input-badge-position').on('change', function () {
		var selectedValue = $(this).val();

		$('#input-badge-theme').prop('selectedIndex', 0);

		if (selectedValue === 'inline') {
			$('#badge-themes').show();
		} else {
			$('#badge-themes').hide();
		}
	});
</script>
{{ footer }}
