<div class="mb-3">
	<label class="form-label" for="input-google-recaptcha">{% if key_type == 'v2_checkbox' %}{{ entry_challange_captcha }}{% else %}{{ entry_score_based_captcha }}{% endif %}</label>
	<div class="mb-2">
			{% if key_type == 'v2_checkbox' %}<div id="g-recaptcha-{{ widget_counter }}" data-sitekey="{{ site_key }}"></div>{% endif %}
			<script{% if script_nonce %} nonce="{{ script_nonce }}"{% endif %} data-widget-id="{{ widget_counter }}">
					var repositionCaptchaBadge{{ widget_counter }} = function () {
							var grecaptchaBadge = document.querySelector('.grecaptcha-badge'),
							grecaptchaContainer = grecaptchaBadge ? grecaptchaBadge.closest('div') : null,
							errorCaptcha = document.querySelector('#error-captcha');
							if (grecaptchaContainer && errorCaptcha) { errorCaptcha.parentNode.insertBefore(grecaptchaContainer, errorCaptcha); }
					};

					var resetRecaptcha{{ widget_counter }} = function () {
							if (window.grecaptcha && typeof grecaptcha.reset === 'function') {
									if (typeof recaptcha_widget{{ widget_counter }} === 'number') {
											grecaptcha.reset(recaptcha_widget{{ widget_counter }});
									} else {
											grecaptcha.reset();
									}
							}
					};
			{% if key_type == 'v3' or key_type == 'v2_invisible' %}
					var recaptcha_form{{ widget_counter }} = document.currentScript ? document.currentScript.closest('form') : null;

					var onFormSubmit{{ widget_counter }} = function (token) {
									if (recaptcha_form{{ widget_counter }}) {
													var submitEvent = new Event('submit', {bubbles: true, cancelable: true});
													if (recaptcha_form{{ widget_counter }}.dispatchEvent(submitEvent)) { recaptcha_form{{ widget_counter }}.submit(); }
													{% if key_type == 'v2_invisible' %}resetRecaptcha{{ widget_counter }}();{% endif %}
									}
					}
			{% elseif key_type == 'v2_checkbox' %}
					var recaptcha_widget{{ widget_counter }},
					recaptcha_form{{ widget_counter }} = document.currentScript ? document.currentScript.closest('form') : null;

					var onloadCallback{{ widget_counter }} = function () {
							recaptcha_widget{{ widget_counter }} = grecaptcha.render('g-recaptcha-{{ widget_counter }}', {
									'sitekey': '{{ site_key }}',
									'theme': '{{ badge_theme }}',
									'size': '{{ badge_size }}'
							});
					};

					if (recaptcha_form{{ widget_counter }}) {
							recaptcha_form{{ widget_counter }}.addEventListener('submit', function () {
									setTimeout(resetRecaptcha{{ widget_counter }}, 1000);
							});
					}
			{% endif %}
			</script>
			<div id="error-captcha" class="invalid-feedback"></div>
	</div>
</div>
<script{% if google_captcha_nonce %} nonce="{{ google_captcha_nonce }}"{% endif %} src="{{ google_captcha_url }}" async defer></script>
