<div class="row mb-3 required">
	<label for="input-google-recaptcha" class="col-sm-2 col-form-label">{{ entry_captcha }}</label>
	<div class="col-sm-10">
		{% if key_type == 'v2_checkbox' or key_type == 'v2_invisible' %}
		<div id="g-recaptcha-{{ widget_counter }}" data-sitekey="{{ site_key }}"></div>
		<script type="text/javascript">
			var recaptcha_widget{{ widget_counter }};

			var onloadCallback{{ widget_counter }} = function () {
				recaptcha_widget{{ widget_counter }} = grecaptcha.render('g-recaptcha-{{ widget_counter }}', {
					'sitekey': '{{ site_key }}',
					{% if key_type == 'v2_invisible' %}'size': 'invisible'{% endif %}
				});
			};

			var form = document.currentScript ? document.currentScript.closest('form') : null;

			if (typeof form !== 'undefined') {
				var resetRecaptcha{{ widget_counter }} = function () {
					if (window.grecaptcha && typeof grecaptcha.reset === 'function') {
						grecaptcha.reset(recaptcha_widget{{ widget_counter }});
					} else {
						console.warn('Google reCAPTCHA is not initialized.');
					}
				};

				form.addEventListener('submit', function () {
					setTimeout(resetRecaptcha{{ widget_counter }}, 1000);
				});
			}
		</script>
		<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback{{ widget_counter }}&render=explicit" async defer></script>
		{% endif %}
		<div id="error-captcha" class="invalid-feedback"></div>
	</div>
</div>
